body{
    background-image: linear-gradient(to right, black, rgb(22, 20, 20));
    width: 100%;
    height: 100vh;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3em;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(184, 0, 0));
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
}


  

